---
title: Home
---
<div class="b-masthead jumbotron hidden-print">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-lg-2">
        <img src="assets/css/headshot-joshlee.jpg"
             class="thumb"
             id="headshot"
             alt="Headshot of Josh Lee"
             width="200">
      </div>
      <div class="col-xs-12 col-sm-8 col-lg-10">
        <h1>
            Joshua M. Lee
        </h1>
        <p>
            <em>Proponent of empowerment through accessible technology, open source software, and sustainable business practices.</em>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="b-contact">
    <div class="b-contact-info vcard">
      <p class="fn">
        <a class="url"
           href="#">Joshua M. Lee</a>
      </p>
      <p class="adr">
        <span class="street-address">50 North St. Apt. D</span> <span class="region">Burlington, VT</span> <span class="postal-code">05401</span> <span class="country-name">USA</span>
      </p>
      <p class="tel">
        <a href="tel:+18027352274">(802) 735.2274</a>
      </p>
      <p class="email">
        <a href="mailto:josh@joshuamlee.com">josh@joshuamlee.com</a>
      </p>
    </div>
    <ul class="b-contact-profiles">

    </ul>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="jobs">
        <h1 class="section-head">Work Experience</h1>
          {{#each jobs}}
          <div class="job">
            <h2>
              <span class="company">{{this.company}}</span>
               — <span class="title">{{this.title}}</span>
            </h2>
            <span class="date">{{ formatDate this.startdate "%B %Y" }} - {{ formatDate this.enddate "%B %Y" }}</span>
            <p>{{this.description}}</p>
          </div>
          {{/each }}

          <h1 class="section-head">Volunteering</h1>
          {{#each volunteering}}
          <div class="job">
            <h2>
              <span class="company">{{this.company}}</span>
               — <span class="title">{{this.title}}</span>
            </h2>
            <span class="date">{{ this.startdate }} - {{ this.enddate }}</span>
            <p>{{this.description}}</p>
          </div>
          {{/each }}
      </div>
      <h1 class="section-head">Projects <span class="e-special-amp">&</span> Clients</h1>
      <p><em>Localvore Today, Green Mountain Power, Magic Hat Brewing Co., Ben & Jerry’s Ice Cream, The Green School Alliance, The Lawrenceville School, The Center for Youth Ministry Training, The Fairfield County Community Foundation, Berkshire School and many more...</em></p>
    </div>
    <div class="col-xs-12 col-sm-4 sidebar">
      <h1 class="section-head">Skills</h1>
      <div class="skills">
        {{#each skills}}
        <div class="skill">
          <h2>{{this.title}}</h2>
          <ul class="skillslist">
            {{#each this.skills}}
            <li>{{this}}</li>
            {{/each }}
          </ul>
        </div>
        {{/each }}
      </div>
      <h1 class="section-head">Speaking</h1>
      <div class="skills">
        {{#each speaking}}
        <div class="skill">
          <h2>{{this.event}}</h2>
          <ul class="skillslist">
            <li>{{this.talk}}</li>
          </ul>
        </div>
        {{/each }}
      </div>
  </div>
</div>
